.chatroom{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.message-list{
    flex:1;
    display: flex;
    overflow: auto;
    flex-direction: column-reverse;
}
