.message-input-container {
    display:flex;
}

.message-input {
    flex:1;
    padding: 12px 8px;
    background: var(--color-gray);
    border-radius: var(--border-radius);
}

.send-message {
    padding: 12px 14px;
    background: var(--color-blue);
    border-radius: var(--border-radius);
    cursor: pointer;
}